<div class="container">

    <albu-header-bar selected="home"></albu-header-bar>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Albumate</h1>
        <p>This is a test application built using the AngularJS framework.</p>
        <p>It simply returns a list of musicians and lets you browse their songs.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="#/artist/list" role="button">Lets get started &raquo;</a>
        </p>
    </div>

</div>